.kuma-uxtransfer-container {
    width: 100%;
}

/* 按钮颜色 */
.kuma-button {
    background-color: #fff;
    border-color: rgba(31,56,88,.3);
    color: rgba(31,56,88,.6);
}

.kuma-button-primary:hover,
.kuma-button-secondary:hover,
.kuma-button-outline:hover,
.kuma-menu-submenu-title:hover,
.kuma-menu-item:hover a {
  background-color:#FF5C00!important;
  border-color: #FF5C00!important;
  color:#ffffff!important;
}

.kuma-menu-submenu-title:hover span {
  color:#ffffff!important;
}

.echart-button-click {
  background-color:#FF5C00;
  border-color: #FF5C00;
  color:#ffffff;
}

.search-input .kuma-uxform-field .kuma-input,
.select-form .kuma-select2 {
    width:240px!important;
}

.label-content {
  font-size: 14px!important;
}

.kuma-tree li a.kuma-tree-node-selected, .kuma-tree li a:hover {
    color:#FF5C00
}

@font-face {
    font-family: 'fzlt';
    src:url('fzlt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fzlt2';
    src:url('aaaa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
		font-family: 'fzlt'!important;
}